* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --text-color: white;
}

body {
  font-size: 1.6rem;
  background: url(assets/bg-desktop-dark.png);
  font-family: 'Poppins', sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  transition: .3s;
  animation: gradient 10s ease infinite;
}
::-webkit-scrollbar {
  width: 12px;
  background-color: purple;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 1, 255);
  border-radius: .8rem;
  border: 1px solid black;
}

body.light {
  background: url(assets/bg-desktop-light.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  --text-color: black;
}

body.light .ph-sun,
body:not(.light) .ph-moon {
  display: none;
}

#app {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

button {
  width: 5rem;
  position: absolute;
  right: 2rem;
  top: 2rem;
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 4rem;
  transition: .3s;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

header {
  margin: 0 auto;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

header img {
  height: 11rem;
  max-width: 11rem;
  border: 3px solid purple;
  border-radius: 50%;
  background: rgb(65, 21, 134);
  -webkit-box-shadow:0px 0px 19px 0px rgba(154,46,255,0.9);
  -moz-box-shadow: 0px 0px 19px 0px rgba(154,46,255,0.9);
  box-shadow: 0px 0px 19px 0px rgba(154,46,255,0.9);
}

header a {
  text-decoration: none;
  color: var(--text-color);
  transition: .2s;
}

header a:hover {
  color: rgb(197, 193, 193);
}

main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 15rem;
}

main a {
  text-decoration: none;
  color: var(--text-color);
  border: 2px solid purple;
  padding: 1.6rem 2.4rem;
  width: 30rem;
  text-align: center;
  border-radius: 12px;
  transition: .3s;
  background: rgba(128, 128, 128, 0.164);
  -webkit-animation: slide-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  -webkit-box-shadow:0px 0px 19px 0px rgba(154,46,255,0.9);
  -moz-box-shadow: 0px 0px 19px 0px rgba(154,46,255,0.9);
  box-shadow: 0px 0px 19px 0px rgba(154,46,255,0.9);
}

main a:hover {
  background: rgba(128, 0, 128, 0.74);
}

footer {
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
}

footer a {
  transition: .3s;
  text-decoration: none;
  color: var(--text-color);
  font-size: 3rem;
  -webkit-animation: slide-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

footer a:hover {
  color: purple;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
  }
